#project_show {
  background-color: #2E2F30;
  padding-top: 0px;
  height: 100%;

  > table {
    width: 100%;
    height: 100%;
  }

  .stage {
    //width: 100%;
    //height: 100%;
    overflow-y: auto;

    width: 960px;
    height: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-x: hidden;
    background-image: url('/assets/grid.png');
  }

  #canvas {
    //width: 960px;
    //min-height: 100%;
    //background-color: white;
    //margin-left: auto;
    //margin-right: auto;
    //position: relative;
    //overflow-x: hidden;
    //background-image: url("/assets/grid.png");
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #selector {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #489cff;
    width: 300px;
    height: 40px;
    overflow: visible;
    cursor: move;

    .handle {
      position: absolute;
    }

    #handle_north {
      top: -6px;
      width: 100%;
      height: 10px;
      cursor: n-resize;
    }

    #handle_south {
      bottom: -4px;
      width: 100%;
      height: 10px;
      cursor: s-resize;
    }

    #handle_east {
      right: -6px;
      width: 10px;
      height: 100%;
      cursor: e-resize;
    }

    #handle_west {
      left: -6px;
      width: 10px;
      height: 100%;
      cursor: w-resize;
    }

    .handle-diagonal {
      background-color: white;
      border: 1px solid black;
      width: 10px;
      height: 10px;
    }

    #handle_north_west {
      top: -6px;
      left: -6px;
      cursor: nw-resize;
    }

    #handle_north_east {
      top: -6px;
      right: -6px;
      cursor: ne-resize;
    }

    #handle_south_east {
      bottom: -6px;
      right: -6px;
      cursor: se-resize;
    }

    #handle_south_west {
      bottom: -6px;
      left: -6px;
      cursor: sw-resize;
    }
  }

  .editor_row {
    background-color: #676767;
    height: 250px;
  }

  #editor {
    width: 100%;
    height: 100%;

    .left_group {
      position: relative;
      width: 220px;

      > table {
        width: 100%;
        height: 100%;
      }
    }

    .button_group {
      height: 54px;

      button {
        width: 33.33%;
      }
    }

    .right_group {
      position: relative;

      > table {
        width: 100%;
        height: 100%;
      }
    }

    #divlines {
      width: 22px;
      height: 100%;
      overflow: hidden;
    }
    
    #console {
      height: 100%;
      width: 100%;
      resize: none;
      background-color: black;
      color: white;
      font-family: monospace;
      overflow: auto;
      tab-size: 4;
    }

    #console_status {
      height: 22px;
      color: red;
      background-color: #2E2F30;
    }
  }

  #page_list {
    font-size: 12px;
    overflow: auto;
    width: 100%;
    height: 80%;
    color: white;

    > ul {
      margin-top: 5px;
      padding-left: 0px !important;
    }

    ul {
      list-style-type: none;
      padding-left: 15px;

      li {
        padding: 0px;

        div {
          background-color: #2E2F30;
          border: 1px solid #565656;
          padding: 4px 7px;
          cursor: pointer;
        }
      }

      .page_list_item_selected {
        background-color: #489cff;
      }
    }
  }

  #invisible_dom {
    position: absolute;
  }

  .element-page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;

    .parent-page {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
    }
  }

  .hitarea {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #666666;
    opacity: 0;
  }

  .child-elements {
    // position: relative;
    left: 0px;
    top: 0px;
    //width: 100%;
    //height: 100%;
  }

  .element {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
  }

  .element-text {
    width: 200px;
    height: 100px;
    text-align: justify;

    > span {
      width: 100%;
    }
  }

  .element-hyperlink {
    > a {
      text-decoration: underline;
    }
  }

  .element-button {
    display: inline-block;
    > button {
      width: 100%;
      height: 100%;
    }
  }

  .element-checkbox {
    > label {
      width: 100%;
      height: 100%;
    }
  }

  .element-radio-button {
    display: table;

    > label {
      width: 100%;
      height: 100%;
      padding-left: 22px;
    }
  }

  .element-image {
    > img {
      left: inherit;
      top: inherit;
      width: 100%;
      height: 100%;
    }
  }

  .element-icon {
  }

  .element-textarea {
    > textarea {
      width: 100%;
      height: 100%;
    }
  }

  .element-textfield {
    > input {
      width: 100%;
      height: 100%;
    }
  }

  .element-dropdown {
    width: 150px;
    height: 34px;

    > select {
      height: 100%;
    }
  }

  .element-datepicker {
    overflow: visible;
    width: 200px;

    > .input-group {
      position: relative;
    }

    input {
      z-index: 0;
    }

    .bootstrap-datetimepicker-widget {
    }
  }

  .element-number-list {
    width: 400px;
    height: 100px;

    > ol {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .element-bullet-list {
    width: 400px;
    height: 100px;

    > ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .element-table {
    width: 400px;
    height: 200px;

    > table {
      width: 100%;
      height: 100%;
    }
  }

  .table-align {
    text-align: inherit;
  }

  .element-box {
    width: 100px;
    height: 100px;

    > .box {
      border: 1px solid black;
      width: 100%;
      height: 100%;
    }
  }

  .element-tabs {
    width: 400px;
    height: 200px;
    border: 1px solid #ddd;
    padding: 20px 15px 15px;
    border-radius: 4px 4px 0 0;
  }

  .element-tab-content {
    position: relative;
    width: 100%;
  }

  .element-modal {
    position: static !important;
    display: block;

    .modal-backdrop.in {
      z-index: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 960px;
      margin-left: auto;
      margin-right: auto;
      height: auto;
    }
  }

  .element-modal-body {
    margin: 15px;
    padding: 0px;
    width: auto;
    height: 100%;
  }

  .element-modal-header {
    width: auto;
    height: auto;
    
    > .modal-title {
      font-size: large;
    }
  }

  .element-modal-footer {
    position: relative;
    margin: 15px;
    width: auto;
    height: 40px;
  }
}
