#editor {
  background-color: #2E2F30;
  height: 100%;
  padding-top: 0px;

  #stage {
    width: 960px;
    height: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    #canvas {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
    }

    #selector {
      display: none;
      position: absolute;
      left: 0px;
      top: 0px;
      border: 1px solid #489cff;
      width: 300px;
      height: 40px;
      overflow: visible;
      cursor: move;

      .handle {
        position: absolute;
      }

      #handle_north {
        top: -6px;
        width: 100%;
        height: 10px;
        cursor: n-resize;
      }

      #handle_south {
        bottom: -4px;
        width: 100%;
        height: 10px;
        cursor: s-resize;
      }

      #handle_east {
        right: -6px;
        width: 10px;
        height: 100%;
        cursor: e-resize;
      }

      #handle_west {
        left: -6px;
        width: 10px;
        height: 100%;
        cursor: w-resize;
      }

      .handle-diagonal {
        background-color: white;
        border: 1px solid black;
        width: 10px;
        height: 10px;
      }

      #handle_north_west {
        top: -6px;
        left: -6px;
        cursor: nw-resize;
      }

      #handle_north_east {
        top: -6px;
        right: -6px;
        cursor: ne-resize;
      }

      #handle_south_east {
        bottom: -6px;
        right: -6px;
        cursor: se-resize;
      }

      #handle_south_west {
        bottom: -6px;
        left: -6px;
        cursor: sw-resize;
      }
    }
  }

  #sidebar {
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: table;
    font-size: 12px;

    > div {
      display: table-cell;
      vertical-align: middle;

      > div {
        display: block;
        height: 90%;
        background-color: #565656;
        color: white;
        padding: 6px;
        border-radius: 4px;

        > .btn-group {
          width: 100%;
          margin-top: 5px;

          button {
            width: 33.33%;
            background-color: #2E2F30;
            color: white;
            border-color: #565656;
            font-size: 12px;
          }
        }

        > div:nth-child(2) {
          margin-top: 20px;
          background-color: transparent;
          position: relative;
          height: 100%;

          > div {
            font-size: 14px;

            a {
              text-decoration: underline;
              color: #489cff;
            }
          }

          #page_list {
            font-size: 12px;
            overflow: auto;
            position: absolute;
            width: 100%;
            height: 80%;

            > ul {
              margin-top: 5px;
              padding-left: 0px !important;
            }

            ul {
              list-style-type: none;
              padding-left: 15px;

              li {
                padding: 0px;

                div {
                  background-color: #2E2F30;
                  border: 1px solid #565656;
                  padding: 4px 7px;
                  cursor: pointer;
                }
              }

              .page_list_item_selected {
                background-color: #489cff;
              }
            }
          }
        }
      }
    }
  }

  #type_to_add {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    display: none;

    > div:first-child {
      background-color: #565656;
      border-radius: 50px;
      width: 800px;
      display: flex;
      justify-content: center;

      #type_to_add_input {
        margin: 20px 0px;
        width: 720px;
      }
    }

    #type_to_add_list {
      left: 40px;
      top: -15px;
      width: 720px;
      max-height: 400px;
      overflow-y: auto;
      position: relative;
      background-color: white;
      padding: 5px;
      border: 1px solid gray;
      border-radius: 4px;

      div {
        background-color: #dedede;
        border-radius: 4px;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
      }

      em {
        display: block;
        padding: 10px;
        margin: 5px;
        color: #666666;
      }
    }
  }

  .element-page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  .element {
    overflow: hidden;
  }

  .element-hitarea {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #666666;
    opacity: 0.2;
  }

  .element-button {
    position: absolute;

    > button {
      width: 100%;
      height: 100%;
    }
  }
}

